.container {
    display: grid;
    grid: 85px 85px 85px/85px 85px 85px;
    gap: 5px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.2);
    width: calc(3 * 85px + 2 * 5px);
    height: calc(3 * 85px + 2 * 5px);
    z-index: 999;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 85px;
    height: 85px;
    z-index: 999;
}

.winner{
    background-color: green !important;
}